<!-- Code/routes/templates/activity_savoir_faire.html -->

<div class="savoir-faires-section">
    <div id="savoir-faires-container-{{ activity.id }}">
      <h3>Savoir-Faire</h3>
      {% if activity.savoir_faires and activity.savoir_faires|length > 0 %}
        <ul>
          {% for sf in activity.savoir_faires %}
            <li id="savoir-faires-{{ sf.id }}">
              <span class="savoir-faires-text">{{ sf.description }}</span>
              <button
                class="edit-savoir-faire-btn"
                data-savoir-faires='{{ {"id": sf.id, "description": sf.description}|tojson|safe }}'
                onclick="showEditSavoirFairesForm(this)"
              >
                <i class="fa-solid fa-pencil"></i>
              </button>
              <button onclick="deleteSavoirFaires('{{ activity.id }}','{{ sf.id }}')">
                <i class="fa-solid fa-trash"></i>
              </button>
  
              <!-- Formulaire d'édition caché -->
              <div id="edit-savoir-faires-form-{{ sf.id }}" style="display:none; margin-top:5px;">
                <input type="text" id="edit-savoir-faires-input-{{ sf.id }}" />
                <button onclick="submitEditSavoirFaires('{{ activity.id }}','{{ sf.id }}')">Enregistrer</button>
                <button onclick="hideEditSavoirFairesForm('{{ sf.id }}')">Annuler</button>
              </div>
            </li>
          {% endfor %}

        </ul>
      {% else %}
        <p>Aucun Savoir-Faire enregistré.</p>
      {% endif %}
      <button onclick="showAddSavoirFairesForm('{{ activity.id }}')">+ Ajouter un Savoir-Faire</button>
      <div id="add-savoir-faires-form-{{ activity.id }}" style="display:none; margin-top:5px;">
        <input type="text" id="add-savoir-faires-input-{{ activity.id }}" />
        <button onclick="submitAddSavoirFaires('{{ activity.id }}')">Enregistrer</button>
        <button onclick="hideAddSavoirFairesForm('{{ activity.id }}')">Annuler</button>
      </div>
      <button onclick="fetchActivityDetailsForSavoirFaires('{{ activity.id }}')">Proposer Savoirs-Faires</button>
      </div>
      <script src="{{ url_for('static', filename='js/propose_savoir_faires.js') }}"></script>
</div>

{% include 'savoir_faires_modal.html' %}