<!-- Code/routes/templates/activity_competencies.html -->

<h3>Compétences</h3>

<ul id="competencies-list-{{ item.activity.id }}">
  {% for comp in item.activity.competencies %}
    <li data-comp-id="{{ comp.id }}" style="margin-bottom:5px;">
      <span class="validated-skill-text">{{ comp.description }}</span>
      <button onclick="editValidatedSkill(this, {{ comp.id }})" style="margin-left:5px;">
        <i class="fa-solid fa-pencil"></i>
      </button>
      <button onclick="deleteValidatedSkill(this, {{ comp.id }})" style="margin-left:5px;">
        <i class="fa-solid fa-trash"></i>
      </button>
    </li>
  {% endfor %}
</ul>

<button onclick="fetchActivityDetailsForSkills({{ item.activity.id }})">
  Proposer Compétences
</button>
