<!-- Code/routes/templates/savoir_modal.html -->
<div id="AptittudeModal" style="display:none; position:fixed; left:20%; top:20%; width:60%; background:#fff; border:1px solid #aaa; padding:10px; z-index:9999;">
    <h4>Propositions de savoirs :</h4>
    <ul id="AptitudeList" style="list-style:none; padding-left:0;"></ul>
    <div style="margin-top:10px;">
      <button id="validateAptitudesBtn">Valider les savoirs</button> 
      <button id="cancelAptitudesBtn">Annuler</button>
    </div>
  </div>