<!-- templates/competences_view.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synthèse des Compétences</title>
    <link rel="stylesheet" type="text/css" href="./../../../static/synthese_comp.css">
</head>
<body>
    <header>
        {% include 'header_buttons.html' %}
    </header>

    <main>
        <h1>Synthèse des Compétences</h1>

        <div>
            <label for="manager-select">Manager :</label>
            <select id="manager-select"></select>
            <label for="collaborator-select">Collaborateurs :</label>
            <select id="collaborator-select"></select>
            <div id="roles-sections-container" style="margin-top: 30px;"></div>
        </div>

        <hr>
        <button id="toggle-summary" class="btn btn-secondary">Afficher la synthèse globale</button>
        <div id="global-summary-section" class="hidden" style="margin-top: 30px;"></div>


        <div id="roles-competencies" style="margin-top: 40px;"></div>
        

        <button id="save-competencies-button">Enregistrer ma notation de compétence</button>
    </main>


    {% include 'competence_role_section.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js"></script>
    <script src="{{ url_for('static', filename='js/synth_competences.js') }}"></script>

</body>
</html>