<!-- header_buttons.html -->

<!-- Bouton cartographie -->
  <button id="update-cartography-button" class="update-btn">
    <i class="fa-solid fa-arrows-rotate"></i> Mettre à jour la cartographie
  </button>
  
  <!-- Bouton pour la page des activités -->
  <button onclick="window.location.href='/activities/view'" class="update-btn">
    <i class="fa-solid fa-user"></i> Afficher la liste des Activités
  </button>

  <!-- Bouton pour la page des rôles -->
  <button onclick="window.location.href='/roles_view'" class="update-btn">
    <i class="fa-solid fa-user"></i> Afficher les rôles
  </button>
  
  <!-- Bouton pour la page de synthèse des compétences -->
  <button onclick="window.location.href='/competences/view'" class="update-btn">
    <i class="fa-solid fa-user"></i> Afficher la synthèse des compétences
  </button>

  <!-- Bouton pour la page de gestion du temps -->
  <button onclick="window.location.href='/temps'" class="update-btn">
    <i class="fa-solid fa-clock"></i> Gérer le temps
  </button>
    