<!-- header_buttons.html -->
<link rel="stylesheet" href="./../../../static/optiq.css">
<!-- Bouton cartographie -->
  <button id="update-cartography-button" class="update-btn">
    <i class="fa-solid fa-arrows-rotate"></i> Mettre à jour la cartographie
  </button>
  
  <!-- Bouton pour la page des activités -->
  <button onclick="window.location.href='/activities/view'" class="update-btn">
    <i class="fa-solid fa-user"></i> Afficher la liste des Activités
  </button>

  <!-- Bouton pour la page des rôles -->
  <button onclick="window.location.href='/roles_view'" class="update-btn">
    <i class="fa-solid fa-user"></i> Afficher les rôles
  </button>
  
  <!-- Bouton pour la page de synthèse des compétences -->
  <button onclick="window.location.href='/competences/view'" class="update-btn">
    <i class="fa-solid fa-user"></i> Suivre les compétences
  </button>

  <!-- Bouton pour la page de gestion du temps -->
  <button onclick="window.location.href='/temps'" class="update-btn">
    <i class="fa-solid fa-clock"></i> Gérer le temps
  </button>
    
  <!-- Bouton pour la page de gestion des comptes -->
  <button onclick="window.location.href='/comptes'" class="update-btn">
    <i class="fa-solid fa-users-gear"></i> Gérer les comptes
  </button>

  <!-- Bouton pour l'aperçu global des utilisateurs -->
  <button onclick="window.location.href='/competences/users/global_summary'" class="update-btn">
    <i class="fa-solid fa-table"></i> Aperçu global des utilisateurs
  </button>
