{# performance_partial.html #}
<div id="perf-cell-{{ link_id }}" class="perf-container" data-linkid="{{ link_id }}">

  {% if performance %}
    <div id="perf-display-{{ performance.id }}">
      <span id="perf-info-{{ performance.id }}">
        {{ performance.name }}
        {% if performance.description %}
          - {{ performance.description }}
        {% endif %}
      </span>
      <button onclick="showEditPerfForm('{{ performance.id }}','{{ performance.name|escapejs }}')">
        <i class="fa-solid fa-pencil"></i>
      </button>
      <button onclick="deletePerformance('{{ performance.id }}')">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
    <div id="perf-edit-form-{{ performance.id }}" style="display:none; margin-top:5px;">
      <input type="text" id="perf-edit-input-{{ performance.id }}" style="width:350px;" />
      <button onclick="submitEditPerf('{{ performance.id }}')">Enregistrer</button>
      <button onclick="hideEditPerfForm('{{ performance.id }}')">Annuler</button>
    </div>
  {% else %}
    <button onclick="showAddPerfForm('{{ link_id }}')">Performance</button>
    <div id="perf-add-form-{{ link_id }}" style="display:none; margin-top:5px;">
      <input type="text" id="perf-add-input-{{ link_id }}" style="width:350px;" />
      <button onclick="submitAddPerf('{{ link_id }}')">Enregistrer</button>
      <button onclick="hideAddPerfForm('{{ link_id }}')">Annuler</button>
    </div>
  {% endif %}

</div>
