<!-- Code/routes/templates/savoir_faires_modal.html -->
<div id="savoirFairesModal" style="display:none; position:fixed; left:20%; top:20%; width:60%; background:#fff; border:1px solid #aaa; padding:10px; z-index:9999;">
    <h4>Propositions de savoir-faires :</h4>
    <ul id="savoirFairesList" style="list-style:none; padding-left:0;"></ul>
    <div style="margin-top:10px;">
      <button id="validateSavoirFairesBtn">Valider les savoir-faires</button> 
      <button id="cancelSavoirFairesBtn">Annuler</button>
    </div>
  </div>
  