{% include "header_buttons.html" %}
<link rel="stylesheet" href="./../../../static/time.css">
<script src="./../../../static/js/time.js"></script>

<h1>Gestion des analyses de temps</h1>

<button id="addAnalysisBtn" class="btn-primary">Ajouter une analyse de temps</button>

<div id="analysisFormContainer" class="hidden">
    {% include "time_form.html" %}
</div>

<h2>Liste des analyses</h2>
<table class="styled-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Durée</th>
      <th>Récurrence</th>
      <th>Fréquence</th>
      <th>Personnes</th>
      <th>Temps annuel</th>
      <th>Retard</th>
      <th>Écart</th>
      <th>Délai</th>
      <th>Début</th>
      <th>Fin</th>
      <th>Activité</th>
      <th>Tâche</th>
    </tr>
  </thead>
  <tbody>
    {% for t in analyses %}
    <tr>
      <td>{{ t.id }}</td>
      <td>{{ t.type }}</td>
      <td>{{ t.duration }}</td>
      <td>{{ t.recurrence }}</td>
      <td>{{ t.frequency }}</td>
      <td>{{ t.nb_people }}</td>
      <td>{{ t.annual_time }}</td>
      <td>{{ t.delay_increase or '0' }} {{ t.delay_unit or '' }}</td>
      <td>{{ t.delay_gap }}</td>
      <td>{{ t.delay_str }}</td>
      <td>{{ t.start_datetime }}</td>
      <td>{{ t.end_datetime }}</td>
      <td>{{ t.activity.name if t.activity else "" }}</td>
      <td>{{ t.task.name if t.task else "" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
